@use '../../../assets/styles/variables';

.cardContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 2rem;
  border-radius: 0.5rem;

  .cardContainer__userLink {
    border-bottom: 1px solid variables.$gray;
    overflow: hidden;
    display: flex;
    padding: 1.5rem;

    .userLink {
      color: variables.$dark-violet;
      text-wrap: nowrap;
      overflow: hidden;
    }
  }

  .cardContainer__shortLink {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .shortLink {
      color: variables.$cyan;
      text-wrap: nowrap;
      overflow: hidden;
    }

    .shortLink__button {
      background-color: variables.$cyan;
      padding: 1rem;
      color: white;
      font-size: 1.25rem;
      font-weight: 700;
      border-radius: 0.5rem;
      transition: 0.5s;

      &--copied {
        transition: 0.5s;
        padding: 1rem;
        font-size: 1.25rem;
        font-weight: 700;
        border-radius: 0.5rem;
        color: white;
        background-color: variables.$dark-violet;
      }
    }
  }
}