@use '../../assets/styles/variables.scss';

.header {
  padding: 2.5rem 1.75rem 1.5rem;
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  .header__menu {
    .menu__button {
      background-color: transparent;
      border: 0;
      .button__icon {
        width: 2.5rem;
        height: 2.5rem;
        color: variables.$gray;
      }
    }
  }
}
