@use '../../assets/styles/variables.scss';

.intro {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .intro__banner {
    .banner_img {
      width: 145%;
      overflow: hidden;
      box-sizing: border-box;
    }
  }

  .intro__title {
    margin: 1.5rem 0;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -1.5px;
    color: variables.$very-dark-blue;
  }

  .intro__para {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5;
    color: variables.$grayish-violet;
    margin-bottom: 2rem;
  }
}