@use '../../assets/styles/variables';

.footer {
  width: 100%;
  padding: 1rem 3rem;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;

  font-size: 1rem;
  text-align: center;

  .message__link {
    color: variables.$dark-violet;
    text-decoration: none;
    transition: 1s;
  }

  .message__link:hover {
    color: variables.$cyan;
  }

  @media screen and (min-width: 768px) {
    font-size: 1.5rem;
  }
}
