@use '../../assets/styles/variables.scss';

.header {
  padding: 2.5rem 1.75rem 1.5rem;
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  .header__logo {
    display: flex;
    justify-content: center;
  }

  .header__desktop {
    display: none;
    width: 100%;
  }

  .header__mobile {
    display: flex;
  }

  @media screen and (min-width: 768px) {
    padding: 2.5rem 6rem 1.5rem;
    margin-bottom: 2rem;

    .header__desktop {
      display: flex;
    }

    .header__mobile {
      display: none;
    }
  }
}