@use '../../../assets/styles/variables';

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  .menu__nav {
    display: flex;
  }

  .menu__login {
    display: flex;
    gap: 1rem;
  }

  .__option {
    padding: 1rem;
    color: variables.$grayish-violet;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 2rem;

    &--colorful {
      background-color: variables.$cyan;
      color: white;
      padding: 1rem 2rem;
    }
  }
}