@use '../../assets/styles/variables.scss';

.mainContent {
  background-color: variables.$gray-opaque;
  padding: 8rem 1.5rem 3rem;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .mainContent__title {
    color: variables.$very-dark-violet;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: -1px;
    margin: 6rem 0 1.5rem;
  }

  .mainContent__para {
    text-align: center;
    font-size: 1.25rem;
    padding: 0 1rem;
    color: variables.$grayish-violet;
  }

  .mainContent__cards {
    position: relative;
    margin: 5rem 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }

  @media screen and (min-width: 768px) {
    padding: 4rem 6rem 3rem;

    .mainContent__title {
      font-size: 3rem;
    }

    .mainContent__para {
      max-width: 60%;
    }

    .mainContent__cards {
      gap: 2rem;
      flex-direction: row;
      margin: 5rem 2rem 2rem;
    }
  }
}