@use '../../assets/styles/variables.scss';

.mainContent {
  background-color: variables.$gray-opaque;
  padding: 8rem 1.5rem 3rem;
  width: 100%;

  .mainContent__title {
    color: variables.$very-dark-violet;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: -1px;
    margin: 1.5rem 0;
  }

  .main__para {
    text-align: center;
    font-size: 1.25rem;
    padding: 0 2.5rem;
    color: variables.$grayish-violet;
  }
}